<input class="form-check-input" type="checkbox" value="" id="category_{{ this.id }}" data-category-id="{{ this.id }}">

<label class="form-check-label" for="category_{{ this.id }}">
  {{ this.title }} - {{ this.results_count }}
</label>
<br>